@charset "UTF-8";


/* ===================================
大カテゴリ
=================================== */
/* 中カテゴリ
==============================　*/
/* 小カテゴリ、コメント */

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 320px) {
}

.mb40 {
    margin-bottom: 40px !important;
}

.c-inner-l{
    position: relative;
    margin-top: -40px;
    z-index: 2;
}

.inner02{
    max-width: 1000px;
    margin: 0 auto;
}

.sec01 {
    position: relative;
    background-color: #EFEAEA;
    padding: 5% 20px 353px;
}

.area_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    max-width: 1000px;
    margin-inline: auto;
    padding: 50px 20px 120px;
}
.sec03 {
    margin-left: 50px;
    width: 200px;
}

.trouble_box{
    position: absolute;
    background-color: #fff;
    transform: translateY(50%);
    z-index: 2;
    padding: 30px 50px 15px;
    max-width: 1000px;
    width: calc(100% - 40px);
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    transform: translateY(50%);

    max-height: 410px;
}
.trouble_box h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.trouble_box .box_txt{
    display: flex;
    flex-wrap: wrap;
    line-height: 4.23;
    justify-content: center;
}
.trouble_box .box_txt li{
    position: relative;
    font-size: 16px;
    width: 35%;
    white-space: nowrap;
}
.trouble_box .box_txt li::before{
    content: "";
    background-image: url(../img/common/icon_check.svg);
    background-repeat: no-repeat;

    background-size: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
}

.trouble_box span{
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 10px;
}
.box_txt li:nth-child(even){
    padding-left: 15%;
}
.box_txt li:nth-child(even)::before{
    left: 28%;
}


.sec02{
    background-color: rgba(28, 25, 24, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 280px 20px 115px;
}
@supports not ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
	.backdrop {
		background: rgba(100, 148, 185, .9);
	}
}
.sec02 p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 0;
}
.sec02_box{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}


.sec02_btn {
	position: relative;
    width: 460px;
    height: 100px;
	margin: 0 auto;
	display: block;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
    transition: 0.3s;
}
.sec02_btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: block;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.sec02_btn img:nth-of-type(2) {
	display: none;
    transition: 0.3s;
}
.sec02_btn:hover img:nth-of-type(2) {
	display: block;
    transition: 0.3s;
}


@media screen and (max-width: 1024px) {
    .trouble_box{
        top: 0px;
    }
}
@media screen and (max-width: 768px) {
    .sec01{
        padding: 5% 20px 450px;
    }
    .item_ttl{
        font-size: 40px;
        margin-top: 35px;
        line-height: 1.5;
    }
    .sec02 p{
        font-size: 15px;
        color: #fff;
        margin-bottom: 15px;
        letter-spacing: 0
        ;
    }
    .sec02{
        padding: 286px 20px 80px;
    }
    .trouble_box h3{
        font-size: 15px;
        margin-bottom: 23px;
        letter-spacing: 0;
        line-height: 1.5;
    }
    .trouble_box {
        position: absolute;
        padding: 20px 20px 15px;
        top: -10%;
        max-height: 562px;
    }
    .trouble_box .box_txt li{
        font-size: 16px;
        width: fit-content;
        margin-left: 16%;
    }
    .box_txt li:nth-child(even){
        padding-left: 0;
    }
    .trouble_box .box_txt{
        display: block;
        line-height: 3.05;
    }
    .box_txt li:nth-child(even)::before{
        left: 0px;
    }
    .trouble_box .box_txt li::before{
        width: 20px;
        height: 20px;
        left: -34px;
    }
    .trouble_box span{
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .sec02_btn {
        width: 315px;
        height: 100px;
    }
}

@media screen and (max-width: 420px) {
    .trouble_box {
        position: absolute;
        padding: 20px 20px 15px;
        top: -20%;
    }
}

@media screen and (max-width: 375px) {
    .sec01{
        padding: 5% 20px 310px;
    }
    .trouble_box {
        position: absolute;
        padding: 20px 20px 15px;
        margin-bottom: -55px;
        top: -44%;
        max-height: 575px;
    }
    .sec02{
        padding: 360px 0px 80px;
    }
}
@media screen and (max-width: 368px) {
    .trouble_box h3{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .trouble_box .box_txt li{
        font-size: 14px;
    }
    .trouble_box {
        max-height: 495px;
    }
    .trouble_box span{
        font-size: 11px;
        margin-top: 15px;
    }
}


.sec03 h2{
    font-size: 60px;
    font-weight: 700;
    font-family: Yanone Kaffeesatz;
}
.sec03 h2 span{
    font-size: 20px;
    letter-spacing: 0;
    margin-left: 30px;
    font-weight: 700;
    font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;;
}

.area_list_ttl {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.1em;
    padding: 10px 0;
    background: #fff;
}
.area_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.area_list li{
    width: 100%;
    transition: 0.3s;
}
.area_list li p{
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}
.area_list li a{
    display: block;
    line-height: 1;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 28px;
    position: relative;
    transition: 0.3s;
}
.area_list li a:hover {
    opacity: 0.7;
}
.area_list li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    border-top: 1px solid #1C1918;
    border-right: 1px solid #1C1918;
    width: 6px;
    height: 6px;
    transform: rotate(45deg) translateY(-50%);
}
.bottom_line{
    display: block;
    width: 20px;
    height: 2px;
    margin: 22px auto 0;
    background-color: #DE5329;
}

@media screen and (max-width: 768px) {
    .sec04 h2{
        font-size: 20px !important;
    }
    .item_content li{
        margin: 0 auto 20px !important;
        padding: 20px 30px !important;
    }
    .item_content .store_name{
        font-size: 15px !important;
        margin-bottom: 20px !important;
    }
    .item_content li p{
        font-size: 14px !important;
    }
    .area_list{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    .bottom_line{
        width: 10px;
        height: 1px;
        margin: -2px auto 0;
    }
    .area_list svg{
        width: 10px;
        margin-top: 15px;
    }
}
    


/* sec03 */
.sec03{

}
.area_ttl{
    position: relative;
    font-size: 40px;
    text-align: center;
    margin: 11% 0 0 0;
}
.area_ttl::before{
    content: "｜";
    position: absolute;
    top: -45px;
    font-size: 32px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}
.area_list02 li{
    margin-top: -1px;
    padding-top: 1px;
}
.sec03 h2{
    position: relative;
    font-size: 60px;
    margin-bottom: 40px;
    padding-top: 25px;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 1024px) {
    .sec03 {
        width: 180px;
    }
}
@media screen and (max-width: 768px) {
    .sec03{
        width: 100%;
        margin-left: 0; 
    }
    .sec03 h2{
        font-size: 40px;
        margin-bottom: 25px;
        padding-top: 30px;
        letter-spacing: 0.05em;
        text-align: center;
        line-height: 1.3;
    }
    .sec03 h2 span{
        display: block;
        font-size: 11px;
        letter-spacing: 0;
        margin-left: 0px;
    }
    .area_wrapper {
        flex-direction: column;
        gap: 40px;
    }
    .area_list li p{
        font-size: 14px;
        white-space: nowrap;
    }
    .area_list{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/* sec04 */
.sec04{
    width: calc(100% - 250px);
    background-color: #EFEAEA;
}
.area_ttl{
    position: relative;
    font-size: 40px;
    text-align: center;
    margin: 11% 0 0 0;
}
.area_ttl::before{
    content: "｜";
    position: absolute;
    top: -45px;
    font-size: 32px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}
.area_list02 li{
    margin-top: -1px;
    padding-top: 1px;
}
.sec04 h2{
    position: relative;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    background: #1C1918;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}
.sec04 h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 10px;
}

.inner_inner{
    max-width: 700px;
}
.item_content li{
    background-color: #fff;
    margin: 0 auto 40px;
    padding: 32px 50px;
}
.item_content li p{
    font-size: 16px;
}
.item_content .ttl{
    position: relative;
    margin: 0 35px 0 10px;
    font-weight: 700;
    flex-shrink: 0;
}
.item_content .ttl::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 23px;
    background-color: #1C1918;
    top: 1px;
    left: -10px;
}
.item_content .tel{
    position: relative;
    margin: 0 35px 0 10px;
    font-weight: 700;
}
.item_content .tel::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 23px;
    background-color: #1C1918;
    top: 1px;
    left: -10px;
}
.item_content .store_name{
    font-size: 32px;
    font-weight: 700; 
    margin-bottom: 30px;
}
.item_content .store_name{
    display: block;
    width: fit-content;
    padding-right: 32px;
}
.item_content li .flex{
    margin-bottom: 20px;
}
.check_ttl{
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    
    display: flex;
    align-items: center; /* 垂直中心 */
    justify-content: center; /* 水平中心 */
}

@media screen and (max-width: 768px) {
    .sec04{
        width: 100%;
    }
    .sec04 h2{
        position: relative;
        font-size: 20px;
        text-align: center;
    }
    .sec04 h3 {
        font-size: 14px;
    }
    .sec04 h2::before{
        top: auto;
        bottom: 30px;
    }
    .item_content li{
        margin: 0 auto 20px;
        padding: 20px;
    }
    .item_content .store_name{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .item_content li p{
        font-size: 14px;
    }
}

/* チェックボックス */
.flex_item_content {
    margin: 40px 0;   
}
.flex_item_content_ttl {
    color: #1C1918;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
}
.flex_item_content_ttl::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 1px;
    background: #1C1918;
}

.flex_item_content_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.flex_item_content_list li {
    width: calc((100% - 72px) / 4);
    margin: 0;
    padding: 0;
}
.flex_item_content_list li a {
    display: block;
}
.flex_item_content_list li a .flex_item_img {
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}
.flex_item_content_list li a .flex_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.flex_item_content_list li.selected a .flex_item_img {
    border: 1px solid #000;
}
.flex_item_content_list li.selected a .flex_item_img img {
    opacity: 1;
}
.flex_item_content_list li .flex_item_name {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;    
}

.item-active {
    opacity: 1 !important;
}

.blank{
    position: relative;
}
.blank::before{
    content: "";
    background-image: url(../img/common/blank.svg);
    background-size: 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    right: -25px;
}

/* アコーディオン */
.toggle_title {
    position: relative;
    padding: 12px 40px;
    cursor: pointer; 
    color: #fff;
    background-color: #1C1918;
    margin: 40px 0 20px;
    transition: 0.3s;
}
.toggle_title:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.check_ttl.toggle_title {
    display: block;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    background: #EFEAEA;
    color: #1C1918;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    padding: 10px;
    margin: 40px 0 0;
}
.toggle_ans {
    margin: 0 0 40px;
}
/*プラス*/
.plus {
    position: absolute;
    right: 40px;
    top: 0;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.plus:before,
.plus:after {
    display: block;
    content: "";
    background-color: #61523D;
    position: absolute;
    width: 15px;
    height: 1px;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    transition: 0.5s;
}
.plus:before {
    width: 1px;
    height: 15px;
}
/*アコーディオンが開いたらプラスをマイナスにする*/
.toggle_title.selected .plus:before {
    transform: translate(50%, 50%) rotate(90deg);
}
.area_pulldown_menu ul {
    display: none;
    padding: 10px 0;
}
.area_pulldown_menu_btn {
    display: block;
    border-top: 1px solid var(--white, #FFF);
    background: rgba(255, 255, 255, 0.40);
    color: #1C1918;
    text-align: start;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 100%;
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
}
.area_pulldown_menu_btn .plus {
    right: 30px;
}
.area_pulldown_menu_btn.selected .plus:before {
    transform: translate(50%, 50%) rotate(90deg);
}

@media screen and (max-width: 768px) {
    .toggle_title {
        padding: 13px 15px;
        margin-bottom: 20px;
    }
    .sec02 h3{
        font-size: 14px;
    }
    .toggle_ans {
        padding-top: 0px;
    }
    .item_content .store_name .blank {
        padding-right: 26px;   
    }
    .blank::before{
        width: 12px;
        height: 12px;
    }
    .toggle_ans {
        margin-bottom: 40px;
    }
    .plus {
        right: 20px;
    }
    .flex_item_content_list {
        gap: 12px;
    }
    .flex_item_content_list li {
        width: calc((100% - 36px) / 4);
        margin: 0;
        padding: 0;
    }
    .flex_item_content {
        margin: 30px 0;
    }
    .flex_item_content_ttl {
        margin-top: 30px;
    }
    .check_ttl.toggle_title {
        font-size: 14px;
    }
    .flex_item_content_list li .flex_item_name {
        font-size: 14px;
    }
}
